<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu - Biblioteca</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="/js/script.js" defer></script>
</head>

<body>
  <div class="container">
    <h1>Menu - Biblioteca</h1>

    <!-- Botões principais à esquerda -->
    <div>
      <button id="btnFuncionarios">Funcionários</button>
      <button id="btnClientes">Clientes</button>
      <button id="btnLivros">Livros</button>
      <button id="btnEmprestimos">Empréstimos</button>
      <button id="btnReservas">Reservas</button>
    </div>

    <!-- Seção dos novos botões à direita -->
    <div class="right-buttons">
      <button id="btnCadastrarLivro">Cadastrar Livro</button>
      <button id="btnModificarCatalogo">Modificar Catálogo Existente</button>
      <button id="btnRealizarEmprestimo">Realizar Empréstimo</button>
      <button id="btnRealizarReserva">Realizar Reserva</button>
    </div>

    <div id="resultado">
      <!-- Aqui os dados serão exibidos -->
    </div>

    <a href="index.html"><button>Tela Inicial</button></a>
  </div>
</body>

</html>