<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu - Biblioteca</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="/js/script.js" defer></script>
</head>

<body>
  <div class="container">
    <h1>Menu - Biblioteca</h1>

    <div id="menu-botoes">
      <button id="btnFuncionarios">Listar Funcionários</button>
      <button id="btnClientes">Listar Clientes</button>
      <button id="btnLivros">Listar Livros</button>
      <button id="btnEmprestimos">Listar Empréstimos</button>
      <button id="btnReservas">Listar Reservas</button>
    </div>

    <div id="acoes-laterais">
      <a href="/cadastroLivro"><button>Cadastrar Livro</button></a>
      <a href="/emprestimo"><button>Realizar Empréstimo</button></a>
      <a href="/reserva"><button>Realizar Reserva</button></a>
    </div>
    <a href="/"><button>Tela Inicial</button></a>
    <div id="resultado">
      <!-- Aqui os dados serão exibidos -->
    </div>
  </div>
</body>

</html>